.vscode/

# Jupyter Notebook
.ipynb_checkpoints

__pycache__/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

runs_cubi
cubicasa5k.zip
data/cubicasa5k
experiment1-uncertainty-loss/
output/
model_best_val_loss_var.pkl